/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230,123,59);
    background-size: contain;
    height: 100vh;
    padding:0;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
}

header .logo {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 300px;
    background-image:url(anime-yellow.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    max-width: 100%;
    max-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    background-image: url(konohabgif.gif);
    background-size: cover;
    width: 50%;
    height: 70%;
}

aside {
    background-color: black;
    padding: 20px;
    margin: 20px;
}

.aside-content img {
    width: auto;
    height: auto;
    
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}